/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
background-color: var(--bs-body-bg);
/* background-color: #333; */
color: ash;
}

a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}